@import "colors";

/**
 * Site header
 */
.site-header {
  border: none;
  background-color: $white;
  box-shadow: 0 1px 1px #c9d3df;
  box-sizing: border-box;

  > .wrapper {
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
}

.site-logo {
  width: 82px;
  height: 62px;
  margin-right: 24px;
}

.site-footer {
  background-color: $white;
}

/**
 * Page content
 */
.page-content {
  padding: 0;
  background: #ebeff3;
}
.page-headings {
  color: $white;
  min-height: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $blue;
  padding: 32px $sm-padding-width;

  @media (min-width: 768px) {
    padding-left: $lg-padding-width;
    padding-right: $lg-padding-width;
  }
}

.page-heading {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 8px;
}

.page-subheading {
  color: #fefefe;
  margin-top: 0;
}

.home {
  background: #f1f1f1;
}

.post-meta {
  color: $white;
}


