@import "colors";

/**
 * Site header
 */
.site-header {
  border: none;
  background-color: $white;

  > .wrapper {
    min-height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
}

.site-logo {
  width: 82px;
  height: 62px;
  margin-right: 24px;
}

.site-footer {
  background-color: $white;
}

/**
 * Page content
 */
.page-content {
  padding: 0;
}
.page-heading {
  color: $white;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $blue-primary;
}

.home {
  background: #f1f1f1;
}

.post-list {
  margin: 40px 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;

  > li.post-card {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    margin-bottom: 0;
    color: #26353f;

    a.post-link {
      font-size: 1rem;
      color: inherit !important;
      height: 100%;
      border-radius: 5px;
      border: 1px solid #eeeeee;
      box-shadow: rgba(0, 0, 0, 0.05) 1px 2px 4px;
      position: relative;
      transition: all 0.2s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
      overflow: hidden;
      background: #fff;

      &:active,
      &:focus,
      &:hover,
      &:visited {
        text-decoration: none;
      }

      header {
        overflow: hidden;
      }

      section {
        padding: 30px;
      }

      &:active,
      &:hover,
      &:focus {
        transform: translateY(-10px);
        box-shadow: rgba(0, 0, 0, 0.07) 1px 7px 15px;

        .post-cover {
          transform: scale(1.1);
        }

        .post-cover::after {
          opacity: 0;
        }
      }

    }

    .post-cover {
      height: 160px;
      width: 100%;
      background-size: cover;
      transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
      background-position: center center;
      background-repeat: no-repeat;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      position: relative;

      &::after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(5, 5, 6, 0.3);
        content: " ";
        transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
      }
    }

    .post-type {
      font-weight: bold;
    }

    .post-excerpt {
      color: $light-grey;
      font-size: 14px;
    }

    .post-date {
      color: $light-grey;
      font-size: 12px;
    }
  }
}

.post-meta {
  color: $white;
}

/**
 * Posts
 */
.post {
  background-color: $white;

  .wrapper {
    max-width: 680px;
  }
}

.post-header {
  min-height: 320px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1);
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-title {
  text-shadow: #333333 1px 1px;
}

.post-content {
  margin-bottom: 0;

  ul, pre, code, p {
    margin-top: 1.25rem;
    margin-bottom: 20px;
  }
}

