@import 'fonts/Marianne';
@import 'fonts/OpenSans';
@import "colors";

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Marianne, Arial, sans-serif;
  font-size:18px;
  line-height: 28px;
  color: #26353f;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 800;
}

h3 {
  font-weight: 800;
}

p, ol, ul {
  margin-top: 24px;
  margin-bottom: 24px;
}

ol, ul {
  padding-left: 24px;
  margin-left: 0;
}

li {
  margin-top: 8px;
  margin-bottom: 8px;

  > ol,
  > ul {
    margin-top: 0;
  }
}

a {
  color: $blue!important;
  text-decoration: underline;
}

.post-content {

  h2 {
    margin-top: 60px;
  }

  h3 {
    margin-top: 40px;
  }
}

