---
layout: default
---

<div class="home">
  <div class="page-headings">
    <h1 class="page-heading">Le blog technologique de Pix</h1>
    <p class="page-subheading">{{ site.description }}</p>
  </div>

  <div class="wrapper">
    {{ content }}


    {% if site.paginate %}
    {% assign posts = paginator.posts %}
    {% else %}
    {% assign posts = site.posts %}
    {% endif %}


    {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%d/%m/%Y" -%}
      {%- for post in posts -%}
      <li class="post-card">
        <a class="post-link" href="{{ post.url | relative_url }}">
          <header>
            <div class="post-cover" style="background-image: url('/assets/images/covers/{{ post.cover_image }}')"></div>
          </header>
          <section>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
              {{ post.date | date: date_format }}
            </time>

            <h3 class="post-tiel">{{ post.title | escape }}</h3>

            {%- if site.show_excerpts -%}
            <p class="post-excerpt">
              {{ post.excerpt }}
            </p>
            {%- endif -%}

            <div class="post-authors">
              {% for item in post.authors %}
              {% assign author = site.data.authors[item] %}
              <div class="post-authors__author">
                <img class="post-authors__author-picture" src="/assets/images/authors/{{ item }}.png" alt="{{ author.name }}">
                <span class="post-authors__author-name">{{ author.name }}</span>
              </div>
              {% endfor %}
            </div>

          </section>
        </a>
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
    <div class="pager">
      <ul class="pagination">
        {%- if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
        <li><div class="pager-edge">•</div></li>
        {%- endif %}
        <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
        <li><div class="pager-edge">•</div></li>
        {%- endif %}
      </ul>
    </div>
    {%- endif %}

    {%- endif -%}
  </div>
</div>
