---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="wrapper">
    {{ content }}


    {% if site.paginate %}
    {% assign posts = paginator.posts %}
    {% else %}
    {% assign posts = site.posts %}
    {% endif %}


    {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%d/%m/%Y" -%}
      {%- for post in posts -%}
      <li class="post-card">
        <a class="post-link" href="{{ post.url | relative_url }}">
          <header>
            <img class="post-cover" src="/assets/images/covers/{{ post.cover_image }}">
          </header>
          <section>
            <h3 class="post-tiel">{{ post.title | escape }}</h3>
            {%- if site.show_excerpts -%}
            <div class="post-excerpt">
            {{ post.excerpt }}
            </div>
            {%- endif -%}
          </section>
          <footer>
            <div class="post-meta">
              <div class="post-meta__avatar">
                <img class="post-avatar" src="/assets/images/pix-logo.svg">
              </div>
              <div class="post-meta__data">
                <span class="post-author">Team Pix</span>

                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                  {{ post.date | date: date_format }}
                </time>
              </div>
            </div>
          </footer>
        </a>
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
    <div class="pager">
      <ul class="pagination">
        {%- if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
        <li><div class="pager-edge">•</div></li>
        {%- endif %}
        <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
        <li><div class="pager-edge">•</div></li>
        {%- endif %}
      </ul>
    </div>
    {%- endif %}

    {%- endif -%}
  </div>
</div>