---
layout: default
---
<div class="post wrapper">

  <article class="article">
    <header class="article-header">
      {%- if page.cover.image -%}
      <div class="article-header__cover" style="background: url('/assets/images/covers/{{ page.cover.image }}') no-repeat center; background-size: cover;">
        {%- if page.cover.source_title and page.cover.source_url -%}
        <span class="article-header__cover-credits">
          Crédits : <a href="{{ page.cover.source_url }}" target="_blank">{{ page.cover.source_title }}</a>
        </span>
        {%- endif -%}
      </div>
      {%- endif -%}
      <div class="article-header__meta">
        <h1 class="article-header__title">{{ page.title | escape }}</h1>
        <div class="article-header__subheader">
          <div class="article-header__authors">
            {% for item in page.authors %}
            {% assign author = site.data.authors[item] %}
            <div class="article-header__author">
              <img class="article-header__author-picture" src="/assets/images/authors/{{ item }}.png"
                   alt="{{ author.name }}">
              <span class="article-header__author-name">{{ author.name }}</span>
            </div>
            {% endfor %}
          </div>
          <div class="article-header__date">
            {%- assign date_format = site.minima.date_format | default: "%-d %b %Y" -%}
            <time class="article-header__data-time" datetime="{{ page.date | date_to_xmlschema }}">
              {{ page.date | date: date_format }}
            </time>
          </div>
        </div>
      </div>
    </header>

    <div class="article-content">
      {% include anchor_headings.html html=content anchorBody="#" %}
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>

  <section class="authors">
    {% for item in page.authors %}
    {% assign author = site.data.authors[item] %}
    <div class="author">
      <div class="author__picture">
        <img class="author__picture-image" src="/assets/images/authors/{{ item }}.png" alt="{{ author.name }}">
      </div>
      <div>
        <h3 class="author__name">{{ author.name }}</h3>
        <p class="author__description">{{ author.description }}</p>
        {%- if author.links -%}
        <ul class="author__links">
          {%- if author.links.linkedin -%}
          <li class="author__link">
            <a rel="me" target="pix-blog_linkedin" href="https://linkedin.com/in/{{ author.links.linkedin | escape }}"
               title="Naviguer vers le profil LinkedIn {{ author.links.linkedin | escape }}">
              <svg class="icon icon-github">
                <use xlink:href="{{ '/assets/images/icons.svg#icon-linkedin' | relative_url }}"></use>
              </svg>
            </a>
          </li>
          {%- endif -%}
          {%- if author.links.github -%}
          <li class="author__link">
            <a rel="me" target="pix-blog_github" href="https://github.com/{{ author.links.github | escape }}"
               title="Naviguer vers le profil GitHub {{ author.links.github | escape }}">
              <svg class="icon icon-github">
                <use xlink:href="{{ '/assets/images/icons.svg#icon-github' | relative_url }}"></use>
              </svg>
            </a>
          </li>
          {%- endif -%}
          {%- if author.links.twitter -%}
          <li class="author__link">
            <a rel="me" target="pix-blog_twitter" href="https://twitter.com/{{ author.links.twitter | escape }}"
               title="Naviguer vers le profil Twitter {{ author.links.twitter | escape }}">
              <svg class="icon icon-twitter">
                <use xlink:href="{{ '/assets/images/icons.svg#icon-twitter' | relative_url }}"></use>
              </svg>
            </a>
          </li>
          {%- endif -%}
        </ul>
        {%- endif -%}
      </div>
    </div>
    {% endfor %}

  </section>
</div>
