---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {%- if page.cover_image -%}
  <header class="post-header" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/covers/{{ page.cover_image }}') no-repeat center; background-size: cover;">
  {%- else -%}
    <header class="post-header" style="background: linear-gradient(135deg, rgba(56, 138, 255, 1), rgba(152, 95, 255, 1));">
  {%- endif -%}

    <div class="wrapper">
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-meta">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: date_format }}
        </time>
        {%- if page.modified_date -%}
        ~
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
        {%- endif -%}
        {%- if page.author -%}
        • {% for author in page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
        {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
        {%- endif -%}</p>
    </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  {%- if site.disqus.shortname -%}
  <div class="wrapper">
    {%- include disqus_comments.html -%}
  </div>
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>