@font-face {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 200;
    src: local('Marianne Light'), local('Marianne-Light'), url(../../assets/fonts/Marianne/Marianne-Light.woff2) format('woff2'), url(../../assets/fonts/Marianne/Marianne-Light.woff) format('woff');
}
@font-face {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: normal;
    src: local('Marianne'), local('Marianne-Regular'), url(../../assets/fonts/Marianne/Marianne-Regular.woff2) format('woff2'), url(../../assets/fonts/Marianne/Marianne-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: bold;
    src: local('Marianne Bold'), local('Marianne-Bold'), url(../../assets/fonts/Marianne/Marianne-Bold.woff2) format('woff2'), url(../../assets/fonts/Marianne/Marianne-Bold.woff) format('woff');
}
@font-face {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 800;
    src: local('Marianne ExtraBold'), local('Marianne-ExtraBold'), url(../../assets/fonts/Marianne/Marianne-ExtraBold.woff2) format('woff2'), url(../../assets/fonts/Marianne/Marianne-ExtraBold.woff) format('woff');
}
