@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    src: local('OpenSans Light'), local('OpenSans-Light'), url(../../assets/fonts/Open_Sans/OpenSans-Light.ttf) format('ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('OpenSans'), local('OpenSans-Regular'), url(../../assets/fonts/Open_Sans/OpenSans-Regular.ttf) format('ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: local('OpenSans Bold'), local('OpenSans-Bold'), url(../../assets/fonts/Open_Sans/OpenSans-Bold.ttf) format('ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('OpenSans ExtraBold'), local('OpenSans-ExtraBold'), url(../../assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf) format('ttf');
}
